{% extends "::base.html.twig" %}

{% block title %}
    Erreur {{ status_code }}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col s12">
            <h4 class="admin-title">
                Erreur {{ status_code }}
            </h4>
        </div>

        <div class="col s12">
            <div class="card-panel center-align">
                <p>Mince alors, il semblerait que vous vous soyez trompé...</p>

                <p>Le serveur a retourné la réponse suivante : "{{ status_code }} {{ status_text }}"</p>

                <p>Peut être avez-vous tenté d'accéder à une news ou un roster qui n'existe plus ?<br>
                Retournez dans la section concernée afin d'y voir plus clair =)</p>

                <br>

                <p><em>L'équipe Burning Heads</em></p>
            </div>
        </div>
    
    </div>

{% endblock %}
