{% extends "::base.html.twig" %}

{% block title %}Palmarès{% endblock %}

{% block css %}
<style>
    table {
        margin-top: 15px;
    }
</style>
{% endblock %}

{% block content %}

    <img src="{{ asset('img/palmares/banniere-palmares.jpg') }}" alt="" class="responsive-img">

    <table class="striped highlight bordered responsive-table">
        <thead>
            <tr>
                <th>Jeu</th>
                <th>Section</th>
                <th>Event</th>
                <th>Localisation</th>
                <th>Rang</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td><img src="{{ asset('img/palmares/halo.png') }}" alt="Halo"></td>
                <td>Halo T4</td>
                <td>iLoveBTB</td>
                <td>Paris</td>
                <td>1er</td>
                <td>2014</td>
            </tr>

        </tbody>
    </table>

{% endblock %}
