{% extends "::base.html.twig" %}

{% block title %}Présentation{% endblock %}

{% block css %}
<style>
    #introduction {
        margin-bottom: 35px;
    }
    #bridge {
        margin-top: 20px;
        margin-bottom: 35px;
    }
    #qui-sommes-nous {
        margin-bottom: 15px;
    }
    .valign-wrapper {
        height: 450px;
    }
</style>
{% endblock %}

{% block content %}

    <div id="club" class="row center-align">
    
        <div id="introduction" class="col s12">
            <p>
                L’équipe <strong>Burning Heads</strong>, plus connue sous le tag BH3, est une association à but non lucratif regroupant des joueurs <strong>compétitifs</strong> aux 
                valeurs communes dont le but est de promouvoir l’E-Sport de manière structurée et de véhiculer une image <strong>professionnelle</strong> du milieu.
            </p>
            <p>
                Nos activités se déclinent principalement sur la <strong>Xbox</strong> de Microsoft, sur laquelle le club a construit son histoire.<br>
                Les autres plateformes (PC et PS4), bien que moins représentées au sein de la structure, restent au centre de notre attention pour l’avenir esportif du club.
            </p>
        </div>

        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 l6 valign-wrapper">
                        <p>
                            C’est non sans émotion que l’équipe va souffler cette année sa <strong>dixième bougie</strong> ! En effet, les BH3 ont vu le jour en novembre 2007, 
                            sous la volonté de trois jeunes joueurs axés vers des fondamentaux : <strong>divertissement et respect</strong>. Le temps passant, les rangs s’agrandissent
                            progressivement, apportant du sang neuf ainsi qu’un nouvel aspect à l’équipe : <strong>la compétition</strong>.<br><br>

                            En novembre 2009, sous l’impulsion d’un <strong>staff dynamique</strong> et aux ambitions marquées, les Burning Heads évoluent vers le statut d’association. 
                            L’engouement et l’évolution majeure suscités par ce changement nous a permis d’asseoir notre volonté de <strong>promouvoir le sport électronique</strong> 
                            tel que nous le concevons.
                        </p>
                    </div>

                    <div class="col s12 l6 valign-wrapper hide-on-small-only">
                        <img src="{{ asset('img/presentation/le-club1.jpg') }}" alt="" class="responsive-img">
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 l6 valign-wrapper hide-on-small-only">
                        <img src="{{ asset('img/presentation/le-club2.jpg') }}" alt="" class="responsive-img">
                    </div>

                    <div class="col s12 l6 valign-wrapper">
                        <p>
                            Aujourd’hui, la structure compte plus de <strong>soixante membres</strong> représentant le club et ses valeurs à travers les matchs et événements auxquels 
                            ils participent (on-line comme off-line). Ces membres sont présents sur les jeux Halo, CoD, Battlefied, GoW, FiFa et Counter Strike.<br><br>

                            Après dix belles années, le plaisir de jouer et l’ambiance conviviale restent intacts ainsi que nos fondamentaux qui ont fait la renommée de la 
                            BH3 : le <strong>respect</strong> les uns des autres, le <strong>fair-play</strong> et la <strong>solidarité</strong> entre tous les joueurs de notre communauté ! Notre façon de penser nous est 
                            propre, et nous tenterons d’étendre ces valeurs qui font notre fierté dans le monde de l’E-Sport.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="bridge" class="col s12">
            <p>
                Nous avons vraiment à cœur de proposer à nos joueurs une bonne <strong>couverture des événements</strong>, c’est pourquoi nous essayons de nous déplacer en LAN 
                pour les photographier, recueillir des témoignages en revenant sur leurs matchs les plus importants et assurer un <strong>suivi régulier</strong> via Twitter.<br><br>

                Toutes les photos sont disponibles sur notre <a href="https://www.facebook.com/pg/BH3.fr/photos/?ref=page_internal" target="_blank">galerie Facebook</a>.
            </p>
        </div>

        <div id="qui-sommes-nous" class="col s12">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/4labjwAQh6Q?autoplay=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col s12 hide-on-small-only">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12">
                        <p>
                            Sur notre <a href="https://www.youtube.com/user/BH3Esport" target="_blank">chaîne Youtube</a>, vous retrouverez nos joueurs mis en avant
                            au milieu de <strong>Gameplay</strong> et <strong>Fragmovies</strong> mais également d’autres vidéos au contenu varié :
                        </p>
                    </div>
                    <div class="col s4">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/YVwZqFkkUww?autoplay=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <p>
                            Des soirées communautaires intenses pour chaque anniversaire.
                        </p>
                    </div>
                    <div class="col s4">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/jF_NcBu-4LM?autoplay=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <p>
                            Des reportages ou tests des derniers hits du moment et sur les jeux Games With Gold.
                        </p>
                    </div>
                    <div class="col s4">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/LoG5cjEHgkQ?autoplay=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <p>
                            Des Frag Movies endiablés, reprenant les meilleurs matches de nos joueurs.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <p class="col s12">
            Si vous souhaitez mettre vos compétences à disposition du Staff ou postuler en tant que joueur, n’hésitez pas à utiliser la rubrique Contact !
        </p>

    </div>

{% endblock %}
